body {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #ffdbff;
	background-color:#000000;
	border-style: outset;
	border-color: #ffdbff;
	border-width: 5px;
	height: 150px;
	width: 300px;
	text-align: center;

}
