h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
	margin-top: 100px;
    text-align: center;
    color: #094346;
}
h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
}
p {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	color: #094346;

}
/*li {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	color: #094346;
}*/
header {

padding:10px;
margin: 5px;
background-image: url("images/garden.jpg");
background: no-repeat: repeat;
background-size: 100% 100%;
}
section {
	background-color: #7f7f7f;
}
/*ul {
	color: #094346;
}*/

ul {
	font-family:'PT Sans', sans-serif;
	font-size: 30px;
	border: 5px black;
	font-weight: bold;
	
	background-color: #B8FFDB;
	list-style-type: none;
	text-decoration: none;
	color: #094346;
	float: left;
	width: 1800px;
	height: 60px;
	
	display: inline;
	text-align: center;
	padding: 0;
	margin: 0;
}
li {
	float: left;
	padding: 30px;
}
a { display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
}
/*nav a {
	text-decoration: none;
	text-align: center;
	width: 1800px;
	display: block;
	background-color: #B8FFDB;
	float: left;
}*/
#dog {

}


#about {
	
	height: 10px;
	text-align: center;
	color:#094346;
	border: 5px solid black;
	padding: 200px;

	margin: auto;
	text-decoration: none;
	color: #094346;
	
}

#navi {
	

}
#blue {
	height: 120px;
	width: auto;
}
img {
	border:1px solid #021a40;
	
}
#logo {
	float right;
}
footer {
	text-align: center;

}
a footer {
	font-size: 20px;
}