

body {
	font-family: "lobster", sans-serif;
	font-size: 16px;
	background: #DAF4F0;
}
h2 {
	font-family: 'play', sans-serif;
	font-size: 2em;
	text-align: center;
	letter-spacing: 1.25px;
	padding-bottom: 5px;
}

p {
	font-family: 'Playfair Display', serif;
	letter-spacing: 1px;
	font-size: 1em;
	color: #094346;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	line-height: 125%;
}

li {
	font-family: 'Raleway', cursive;
	font-weight: bolder;
	font-size: 12px;
	color: #094346;
}

header {
	height: 300px;
	background-image: url("images/garden.jpg");
	background: no-repeat: repeat;
	background-size: 100% 100%;

}

nav {
	background-color: #E0EEEE;
	width: 100%;

	
}

nav ul {
	width: 400px;
	margin: 10px auto;
	color: #094346;	

}

nav ul li {
	
	float: left;
	padding: 20px;
	font-size: 1.5em;
	
}

nav a {
	text-decoration: none;
	color: #094346;	
	font-size: .75em;
	padding: 10px;
}

li :hover {
	background-color: #7EB6FF;
}

#about {	

	text-align: center;
	color: #094346;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
	margin-top: 50px;
	margin-bottom: 10px;	
	padding-left: 50px;
	
}
main {
	display: block;
	background-color: #B6B6B4;
	margin-top: -300px;

}


#longhorn {
	padding-left: 700px;
	margin-top: 20px;
	height: auto;
	margin-left: 20px;
	
}
#blue {
	position: absolute;
	margin-top: 400px;
	margin-left: 40px;
	height: auto;
	border: solid #8C8C8C;
	
}
#dog {

	position: relative;
	clear: right;
	border: solid #8C8C8C;
	margin-top: -200px;
	max-width: 500px;
	margin-left: 40px;
}

#garden {
	clear: both;
	height:auto;
	border: solid #8C8C8C;
	float: right;
	margin-right: 150px;
	margin-bottom: 100px;
}


header img {
	margin: 0px auto;
	display: block;
	padding-top: 20px;
	
}
figcaption {
	color: #E0FFFF;
	font-family: "playfair";

}
footer {
	text-align: center;
	background-color: #C2F2EA;
	border: 5px solid black;
	padding: 50px;
	font-size: 2em;
	font-family:'play', sans-serif;
	margin-top: 100px;
	clear: both;
	

}

 footer p a {
	font-size: 20px;
	text-align: center;
	background-color: #B8FFDB;
	border: 5px solid black;
	padding: 200px;
	

}
footer a {
	text-decoration: none;
	color: #993399;
	font-family: "Raleway", sans-serif;
}
/*figure .longhorn{ 
	padding-bottom: 1000px;	
	padding-left: 150px;
	position: relative;	

}*/

.clearfix:after {
     content:'';
     display:block;
     clear:both;
}
