

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	/*background: #DAF4F0;*/
	background-color: #2C3539;
}

header {
	height: 50%;
	background-image: url("images/green.jpg");
	background: no-repeat: repeat;
	background-size: 100% 100%;
	width: 100%;
	/*padding: 0;*/
}

header img {
	margin: 0px auto;
	display: block;
	padding-top: 2%;
	width: 37%;
}			

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	text-align: center;
	letter-spacing: .078125em;
	padding-bottom: 0.3125em;
	margin: 0 auto;
	max-width: 60%;
	color: #D1D0CE;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: lighter;
	letter-spacing: .0625em;
	font-size: 1em;
	/*color: #094346;*/
	color: #D1D0CE;
	text-align: center;
	padding-right: 4%;
	padding-left: 4%;
	line-height: 125%;
	max-width: 40%;
	margin: 0;
}
nav {
	
	width: 100%;
	
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	
}
/*#about p {
	overflow: hidden;
	margin: 0 auto;
	
}*/
/*#about h2 {
	width: 60%;
	
}*/

li {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	/*color: #094346;*/
	color: #D1D0CE;
}

nav ul {
	/*width was 500px*/
	width: 50%;

	/*margin was 10px*/
	margin: 5% auto;
	/*color: #094346;*/
	color: #D1D0CE;	
}

nav ul li {		
	float: left;
	padding: 2%;
	font-size: 1em;
	margin-left: 2%;	
}

nav a {
	text-decoration: none;
	color: #D1D0CE;	
	font-size: 1.5em;
	padding: .625em;
	/*border: .25em solid #48CCCD;*/
	border: .1em solid #D1D0CE;	
}

li :hover {
	color: #fff;
}

#about {	

	max-width: 80%;
	/*text-align: center;
	color: #094346;*/
	color: #2B3856;
	/*margin-right: 0;
	margin-left: 0;*/
	font-size: 1.5em;
	/*margin-top: 4%;*/
	margin-bottom: 4%;
	display: block;
	float: right;
	overflow: hidden;
}

#meshanna {
	max-width: 15%;
	float; left;
	clear: both;
	margin-top: 5%;
	margin-left: 5%;	

}

main {
	display: block;
	background-color: #2C3539;
	margin: 3% auto;
	width: 60%;
	border: .1em solid #D1D0CE;
	padding-top: 1%;

}


	/*main figure {
		height: 100px;
		width: 100px;
	}
	#bananassmall {
		height: 150px;
		width: 150px;
	}*/

#early h1 {
		text-align: center;
		color: #D1D0CE;
		font-size: 2em;
		font-family: 'Source Sans Pro', sans-serif;
	}

#early li {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder
}

#early main {
	display: block;
	/*background-color: #C2F2EA;*/
	background-color: #2C3539;
	margin: 2% auto;
	width: 80%;
	border: .1em solid #D1D0CE;
}

#early figure {
	display: block;
	float: left;
	width: 500;
	height: 500;
	margin: 2%;
	border: .1em solid #D1D0CE;
	padding: .1em;
}

#abstract nav {
	margin-bottom: 10%;
}

#abstract li {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	float: left;
}

#abstract h1 {
	text-align: center;
	font-size: 4em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #D1D0CE;
}

#abstract main {
	display: block;
	background-color: #2C3539; 
	margin: 2% auto;
	width: 80%;
	padding-bottom: 10%;	
}

#abstract figure {
	float: left;
	display: block;
	margin: 2%;
	border: .1em solid #D1D0CE;
	padding: .1em;
	
	/*border-color: #094346;*/
	border-color: #D1D0CE;
	height: 400px;
	width: 350px;
	overflow: hidden;
}

#abstract figcaption #wheel {
	padding-bottom: 2%;
}

#abstract bridge {
	height: 400px;
	width: 350px;
}


#texas h1 {
	text-align: center;
	font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #D1D0CE;
}
#texas li {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;

}
#longhorn {
	max-width: 60%;
	display: block;
	margin: 0 auto;
	display: block;
}



#abstract  {
	padding: .05%;
}

/*figcaption {
	font-size: 12em;
	color: #094346;
}*/
figure img {
	width: 100%;
	display: block;
}

	

figcaption {
	/*color: #094346;*/
	color: #D1D0CE;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	padding-top: .5em;

}
footer {
	text-align: center;
	/*background-color: #C2F2EA;*/
	background-color: #2C3539;
	border: .1em solid #D1D0CE;
	
	padding: 4%;
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	width: 60%;
	clear: both;
	margin: 0 auto;
	margin-bottom: 4%;

}

footer a {
	text-decoration: none;
	color: red;
}
footer p {
	max-width: 90%;
	text-align: center;

}


 /*footer p a {
	/*font-size: 1.25em;
	text-align: center;
	background-color: #B8FFDB;
	border: .3125em solid black;
	padding: 15%;
	margin: 0 auto;
	width: 30%;*/

	



/*footer a {
	text-decoration: none;
	color: #ff0000;
	font-family: "Raleway", sans-serif;
	font-weight: bolder;
	font-style: oblique;
	text-align: center;*/




footer a :hover {
	color: #70F0DA;

}


.clearfix:after {
     content:'';
     display:block;
     clear:both;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
	nav ul li {
		line-height: 1.5em;
	}




@media only screen and (min-width: 401px) and (max-width: 768px) {

}
	
header img {
	max-width: 90%;
	height: 0 auto;

}
#about {
	font-size: 1.25em;
}

p { 
max-width: 80%;

}

h2 {
	font-size: 1.5em;
}
/*p { max-width: 20%; }
}*/

main {
	width: 100%;
}
figure {
	float: none;
	width: 90%;
	margin: 2% auto;

}

figure img {
	width: 96%;
	height: 0 auto;
}
figcaption {
	font-size: 1em;
}

footer {
	border: .3125em #094346;
}
	
nav ul li{
	width: 90%;
	font-size: .75em;
	float: none;
}





	

