

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	background-color: #fff;
}

header {
	height: 50%;
	background-image: url("images/green.jpg");
	background: no-repeat: repeat;
	background-size: 100% 100%;
	width: 100%;
	
}

header img {
	margin: 0 auto;
	display: block;
	padding-top: 2%;
	width: 37%;
}	
hr {
	background-color: #0c090A;
	width: 100%;
	height: 2px;
}		

h2 {
	font-family: 'raleway', sans-serif;
	font-size: 2em;
	text-align: center;
	letter-spacing: .078125em;
	/*padding-bottom: 0.3125em;*/
	margin: 0 auto;
	max-width: 50%;
	color: #0C090A;	
	padding-bottom: 11px;
	
}

p {

	font-family: 'garamond', serif;
	font-weight: lighter;
	letter-spacing: .0625em;
	font-size: 1em;
	color: #094346;
	text-align: center;
	line-height: 125%;
	max-width: 44%;
	margin: 4px auto;
	background-color: #fff;


}

	
li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
	color: #fff;
	margin: 25px;
	margin-top: 30px;

}

nav ul {
		
	color: #fff;	
	margin-bottom: 5%;
	width: 450px;
	height: 200px;
	margin: 0px auto;

}
nav {
	width: 50%;
	margin: 0 auto;
	position: relative;
}

nav ul li {		
	float: left;
	font-size: 1em;
	margin-left: 1%;
	margin-bottom: 67px;	
}
ul {
	position: relative;
	top: 40px;
}

nav a {
	text-decoration: none;
	color: #0C090A;	
	font-size: 1.5em;
	padding: .625em;
	border: .1em solid #0C090A;	
	font-weight: bolder;
	background-color: #fff;

}

/*li :hover {
	color: #FF4136;
}*/
ul :hover {
	background-color: #B1FB17;
}

 h1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #0C090A;
	padding: 60px;
}

#meshanna {

	width: 250px;
	height: 225px;
	border: solid .1em #0C090A;
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	display: inline;

}

/*figure img {
	height: 225px;
	width: 250px;
}*/


#about {	
	width: 700px;
	height: 200px;
	color: #fff;
	font-size: 1.5em;
	display: inline;		
}

main {	
	background-color: #fff;
	margin: 0 auto;
	width: 50%;
	padding: 4%;
	height: 86%;
	margin-top: 1%;
	margin-left: 268px;	
}

main img {
	width: 500px;
	height: 535px;
}

main a {
	text-decoration: none;
	color: #0C090A;	
	font-size: 1.5em;
	padding: .625em;
	border: .25em solid #0C090A;	
	font-weight: bold;
	margin: 0 auto;

}

/*main img {
	margin: 0 auto;
}*/



#early li {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
}
#early li a:hover {
	color: #0c090a;
}


#early main {
	display: block;
	background-color: #fff;
	width: 70%;
	border: .1em solid #0C090A;
	height: 60%;
}

#early figure img {
	display: block;
	float: left;
	width: 40%;
	height: 40%;
	margin: 2%;
	border: .1em solid #0C090A;
	padding: .1em;
}


#abstract main {
	display: block;
	background-color: #fff; 
	margin: 2% auto;
	width: 70%;	
	height: 80%;
	margin-bottom: 5%;

}

#abstract ul {
	height: 63px;
	margin: 0 auto;
}

#abstract figure  {

	float: left;
	margin: 4%;
	border: .1em solid #0C090A;
	background-color: black;
	
}
#abstract main img {
	display: block;
	width: 300px;
	height: 360px;

}

#abstract figcaption {
	
	font-size: 1.5em;
	position:relative;

}
/*#abstract nav a {
	padding: 20px;
	width: 200px;
}*/

#texas main {
	width: 100%;
	background-color: #fff;
	
}
#longhorn {
	margin: 0 auto;
	display: block;
	/*border: 2px solid #0C090A;
	margin: 0 auto;
	/*padding: 70px;*/
}

#longhorn img{
	width: 500px;
	height: 535px;
	border: 2px solid #0c090a;
}

#texas img {
	display: block;
}

#texas figure  {
	
	width: 37%;
	display: block;
	float: left;
	margin: 5px;
	clear: both;
	border: solid .1em #0c090a;
}

#texas figcaption {
	width: 100%;
	display: block;
	
}

#dog {
	margin-left: 200px;
}	

figcaption {
	color: #0C090A;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	font-size: 1.5em;
	padding: 15px;	
	
}
footer {
	
	border: .1em solid #0C090A;
	padding: 2%;
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	width: 60%;
	height: 10%;
	margin-bottom: 10%;
	background-color: #fff;	
	margin: 0 auto;	
	margin-bottom: 50px;

}

footer a {
	text-decoration: none;
	color: red;
	font-weight: bold;
	margin: 10px auto;
	display: block;
	width: 144px;

}
footer p {
	max-width: 55%;
	text-align: center;

}

footer a :hover {
	color: #FF4136;
}


.clearfix:after {
     content:'';
     display:block;
     clear:both;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
	nav ul li {
		line-height: 1.5em;
	}




@media only screen and (min-width: 401px) and (max-width: 768px) {

}
	
header img {
	max-width: 90%;
	height: 0 auto;

}
#about {
	font-size: 1.25em;
}

p { 
max-width: 80%;

}

h2 {
	font-size: 1.5em;
}
/*p { max-width: 20%; }
}*/

main {
	width: 100%;
}
figure {
	float: none;
	width: 90%;
	margin: 2% auto;

}

figure img {
	width: 96%;
	height: 0 auto;
}
figcaption {
	font-size: 1em;
}

footer {
	border: .3125em #094346;
}
	
nav ul li a {
	width: 90%;
	font-size: .75em;
	float: none;
}





	

