p {
	font-size: 25px;
	color: white;
	font-family: arial;
}


body {
	background: url("css/background.jpg");
	background-repeat: no repeat;
	background-size: cover;		
}

.logo {
	content: url("css/logo-taasky.png");
	padding: 150px;
	margin-right: 300px;
	

}


.store {
	content: url("css/btn_store.png");
}


	
h1 {
	font-size: 50px;
	font-family: sans-serif;
	color: white;
	padding-top: 200px;
}

hr {
	width: 5%;
	border-color: red;
	margin-left: 0;
}	

title {
	font-weight: bold;
}

	

