p {
	font-size: 30px;
	color: black;
}


body {
	
}

#background {
	background-image: url("images/background.jpg")

}
.border {
	border-top: 30px
	border-image: url("images/stripes.png")
}

h1 {
	font-size: 50px;
	font-family: sans-serif;
	color: black;
	padding-top: 200px;
}

hr {
	border-color: red;
	border-width: 5%;
}	

title {
	font-weight: bold;
}

	

