p {
	font-size: 30px;
	color: black;
}


body {
	background-image: url("images/background.jpg");
	
	background-repeat: no-repeat;
}



h1 {
	font-size: 50px;
	font-family: sans-serif;
	color: black;
	padding-top: 200px;
}

hr {
	border-color: red;
	border-width: 5%;
}	

title {
	font-weight: bold;
}

	

